.home-header {
    z-index: 2;
    height: 100vh;
    @media (min-width: 0px) and (max-width: 857px) {
        height: auto;
    }

    &-bg {
        right: 0;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        @media (min-width: 0px) and (max-width: 857px) {
            position: inherit;
            transform: translate(0, 0);
        }

        &-image {
            width: 1000px;
            @media (min-width: 1190px) and (max-width: 1559px) {
                width: 800px;
            }
            @media (min-width: 857px) and (max-width: 1189px) {
                width: 500px;
            }
        }
    }

    &-helloBlock {
        z-index: 999;
        height: 100%;
        display: flex;
        align-items: center;
        margin-top: -80px;
        @media (min-width: 0px) and (max-width: 857px) {
            height: auto;
            margin-top: 0;
            justify-content: center;
        }
    }

    &-item {
        @media all and (max-width: 1024px) {
            padding: 20px;
        }
    }

    &-container {
        z-index: 999;
        max-width: 1024px;
        height: 100vh;
        margin: 0 auto;
        @media (min-width: 0px) and (max-width: 857px) {
            height: auto;
        }
    }
}

