.trustedBy {
    &-title{
        text-align: center;
        font-size: 1.5em;
        text-transform: uppercase;
    }
    &-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;

        &-item {
            margin-top: 30px;
            text-align: center;
            width: 200px;
            height: 70px;

            @media (min-width: 320px) and (max-width:425px) {
                width: 115px;
            }

            img {
                filter: grayscale(100%);
                transition: 0.3s;

                &:hover {
                    filter: grayscale(0%);
                    transition: 0.3s;
                }
            }

        }
    }
}