.prices {
    margin: 50px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;

    &-title {
        font-size: 1.5em;
        color: #1e2c4f;
        font-family: "Montserrat-SemiBold", sans-serif;
        text-align: center;
    }

    &-text {
        text-align: center;
        font-family: "Montserrat-Light", serif;
        margin: 0 0 40px;
    }

    &-value {
        font-size: 40px;
    }

    &-item {
        background: #ffffff;
        max-width: 400px;
        margin-bottom: 50px;
        text-align: center;
        border-radius: 50px 0;
        padding: 20px 20px 0;
        border: 2px dashed #0057ef;

        &-header {
            z-index: 3;
            background: linear-gradient(140deg, #0046ff 0%, #06acff 100%);
            color: white;
            border-radius: 50px 0;
            padding: 10px;
        }

        &-body {

            p {
                font-family: "Montserrat-Light", serif;
            }
        }

        &-button {
            margin: 20px 0;

            a {
                margin: 0 auto;
            }
        }

    }
}