.statistic {
    margin: 50px 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    &-item {
        width: 280px;
        text-align: center;

        &-value {
            color: #005cbf;
            font-size: 5em;
            line-height: 0;
            margin-bottom: 40px;
            font-family: "Montserrat-Medium";
        }

        &-description {
            font-size: 19px;
            font-family: "Montserrat-Medium";
        }
    }
}