.aboutUs {
    &-bg {
        height: 300px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('../../../static/img/aboutus-min.png');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        h1 {
            text-align: center;
            position: relative;
            z-index: 99;
            color: white;
            font-size: 50px;
            text-shadow: 1px 1px 1px #000000;
        }

        &:after {
            z-index: 2;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(164deg, rgba(129, 164, 246, 0.5) 0%, rgba(30, 102, 254, 0.5) 50%, rgba(149, 100, 247, 0.5) 100%);
            opacity: 1;
        }
    }

    &-container {
        max-width: 1024px;
        margin: 50px auto 100px;
        padding: 0 20px;

        .aboutUs-list{
            padding-left: 40px;
            list-style-type: disc;
        }
    }


}