.header-container {
    position: relative;
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    @media all and (max-width: 1024px) {
        padding: 0 20px;
    }

    &-logo {
        color: $base-color;
    }

    .menu {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: center;

        @media all and (max-width: 768px) {
            display: none;
        }

        &-item {
            margin-right: 20px;
            font-family: 'Montserrat-Medium', sans-serif;
            color: $base-color;
            transition: 0.3s;

            &:hover {
                color: #002c84;
                transition: 0.3s;
            }
        }
    }

    .side-drawer {
        height: 100%;
        box-shadow: 1px 0 7px rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        width: 70%;
        z-index: 200;
        transform: translateX(-100%);
        transition: transform 0.3s ease-out;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        background: linear-gradient(164deg, rgba(129, 164, 246, 1) 0%, rgba(30, 102, 254, 1) 50%, rgba(149, 100, 247, 1) 100%);

        &-item {
            margin: 30px 30px 0;
            width: 100%;
            height: 30px;
            color: white;
            text-align: center;
        }
    }

    .backdrop {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.3);
        z-index: 100;
    }

    .open {
        transform: translateX(0);
        transition: transform 0.3s ease-out;
    }

    .drawer {
        display: none;
        color: white;

        @media (min-width: 320px) and (max-width: 768px) {
            display: block;
            z-index: 99999;
        }
    }
}