.contactForm {
    max-width: 1024px;
    margin: 0 auto 100px;

    h1 {
        text-align: center;
    }

    form {
        max-width: 300px;
        margin: 0 auto;
        input {
            display: block;
            margin: 20px 0;
            width: 100%;
            height: calc(1.5em + .75rem + 2px);
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition:
                border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;
            overflow: visible;
        }
        .submitButton {
            @extend .btn-main;

            margin: 0 auto;
            width: 150px;
            color: #fff;
            background-color: #0055FF;
            border-color: #005cbf;
            border-radius: 0 25px;
            padding: 8px 25px;
        }
    }
}