.topFeatures {
    margin: 100px auto 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    &-item {
        margin: 30px 10px 0;
        width: 235px;
        height: 320px;
        padding: 20px;
        border-radius: 5px;

        &-icon {
            margin: 10px 0 20px;
        }

        h3 {
            margin-top: 10px;
            font-family: "Montserrat-SemiBold", sans-serif;
        }

        &:nth-child(even){
            margin-top: 45px;
        }

        &:nth-child(1){
            box-shadow: 0 0 20px -12px rgba(237,81,6,1);
        }
        &:nth-child(2){
            box-shadow: 0 0 20px -12px rgba(16,140,252,1);
        }
        &:nth-child(3){
            box-shadow: 0 0 20px -12px rgba(199,14,58,1);
        }
        &:nth-child(4){
            box-shadow: 0 0 20px -12px rgba(60,110,106,1);
        }
    }
}