footer {
    bottom: 0;
    height: auto;
    width: 100%;
    background-color: #22345a;

    h1, h3 {
        color: white;
    }
    .container {
        padding-top: 30px;
        margin: 0 auto;
        max-width: 1024px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        @media all and (max-width: 565px) {
            justify-content: space-around;
        }

        .footer-item {
            color: white;
            width: 200px;

            @media all and (max-width: 1024px) {
                margin: 0 20px;
            }

            .footer-navigation {
                list-style-type: none;
                padding-left: 0;

                &-item {
                    margin: 10px 0;
                }
            }
        }
    }

    .copy {
        margin: 30px auto 0;
        max-width: 1024px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        border-top: 1px solid #9d999a;
        color: white;

        @media all and (max-width: 565px) {
            justify-content: space-around;
        }

        &-navigation{
            margin: 30px 0;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;

            @media all and (max-width: 1024px) {
                margin: 30px 20px;
            }

            :last-child {
                margin-right: 0;
            }

            &-link {
                @extend .link;
                margin: 0 10px;

            }
        }
    }

    .link {
        color: white;
        text-decoration: none;
    }
}
