.faq {
    width: 100%;
    margin-bottom: 100px;
    padding: 20px;
    height: auto;

    &-subTitle {
        text-align: center;
        text-transform: uppercase;
        color: $base-color;
        font-size: 16px;
        font-family: "Montserrat-SemiBold", sans-serif;
    }

    h2 {
        font-size: 2em;
        font-family: "Montserrat-SemiBold", sans-serif;
    }

    &-collapse {
        width: 100%;
        display: block;
        position: relative;
        overflow: hidden;
        transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1);

        &--gradient {
            .faq-content {
                border-color: transparent;
            }

            &:after {
                pointer-events: none;
                transition: opacity 300ms;
                will-change: opacity;
                opacity: 1;
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(transparent 50%, white);
            }
        }

        &--active {
            &:after {
                opacity: 0;
            }
        }
    }

    &-content {
        border: 1px solid transparent;
        padding: 1rem 0;
        position: relative;
        transition: 300ms;
        font-size: 14px;
    }

    &__text {
        width: 100%;
    }

    &-toggle {
        width: 100%;
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 2px;
        background-color: #fff;
        transition: background-color 300ms;
        font-family: Montserrat-Medium;
        border-bottom: 1px solid #495057;
        font-size: $base-fontsize;
        outline: 0;

        &--active {
            background-color: #ffffff;
            color: $base-color;

        }
    }

    &-toggle-text {
        font-size: 1.1em;
    }

    &-button {
        display: block;
        width: 20rem;
        max-width: 100%;
        margin: 0 auto;
        padding: 1rem;
    }

    .rotate90 {
        transform: rotateZ(90deg);
    }

    &-icon {
        width: 1em;
        height: 1em;
        transition: transform 300ms cubic-bezier(0, 1, 0, 1);
        will-change: transform;

        &--expanded {
            transform: rotateZ(-179.99deg);
        }
    }
}