.blog {

    &-bg {
        @extend .aboutUs-bg;
        background-image: url('../../../static/img/blog.jpg');
    }

    &-container {
        @extend .aboutUs-container;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 100px;

        &-preview {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 40px;
        }
    }

    &-image {
        width: 250px;

        img {
            border-radius: 50px 0;
        }
    }

    &-content {
        width: calc(100% - 250px);
        padding-left: 20px;

        h2 {
            margin-top: 0;
        }

        &-meta {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
}