.home-features {
    max-width: 1024px;
    margin: 100px auto 0;

    &-container {
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 0 0!important;

        @media all and (max-width: 1024px) {
            margin: 0 20px 70px;

            .features-item {
                .features-item-image {
                    order: 2;
                }
            }
        }

        &:nth-child(even) {

            .features-item {

                &:nth-child(odd) {
                    order: 1;
                }

                .features-item-image {
                    img {
                        border-radius: 100px 0;
                        margin: 0;

                        @media all and (max-width: 460px) {
                            border-radius: 50px 0;
                        }
                    }

                    &:after {
                        border-radius: 100px 0;

                        @media all and (max-width: 460px) {
                            border-radius: 50px 0;
                        }
                    }

                    &:before {
                        border-radius: 100px 0;
                        margin: -30px;
                    }

                }
            }
        }

        .features-item {

            width: 470px;
            margin: 30px 0;
            text-align: justify;
            padding: 20px;

            &-why{
                text-align: center;
                text-transform: uppercase;
                color: $base-color;
                font-size: 16px;
                font-family: "Montserrat-Bold", sans-serif;
            }

            &-title {
                text-align: left!important;
            }

            &:nth-child(odd) {
                margin-top: 0;
            }

            @media (min-width: 0px) and (max-width: 1000px) {
                width: 100%;

                &:nth-child(odd) {
                    order: 1;
                }
            }

            h2 {
                text-align: center;
            }

            &:nth-child(even) {
                margin-left: 0;
            }


            &-btn {
                @extend .btn-main;
                border-radius: 0 25px;
                padding: 8px 25px;
            }

            &-container {
                display: flex;
                width: 100%;
                height: 70%;
                flex-direction: row;
                align-items: center;

                flex-wrap: wrap;
                align-content: space-between;

                &-icon {
                    width: 50px;
                    height: 50px;
                    border-radius: 10px;
                    background: linear-gradient(164deg, rgba(129, 164, 246, 0.5) 0%, rgba(30, 102, 254, 0.5) 50%, rgba(149, 100, 247, 0.5) 100%);

                    @media (min-width: 0px) and (max-width: 1000px) {
                        flex: none;
                    }

                    .opt-fa {
                        margin: 0 auto;

                        &-Comments {
                            margin: 10px 5px;
                        }

                        &-ClipboardList {
                            margin: 10px 11px;
                        }

                        &-ChartArea {
                            margin: 10px 7px;
                        }
                    }

                }

                &-text {
                    flex: 1 0 80%;

                    @media (min-width: 0px) and (max-width: 539px) {
                        flex: 1 0 80%;
                    }

                    span {
                        margin-left: 20px;
                    }
                }

            }

            &-opt {
                margin: 0 auto;
            }

            &-image {
                margin: 0 auto;
                max-width: 350px;
                position: relative;

                @media all and (max-width: 460px) {
                    width: 70%;
                }

                img {
                    border-radius: 0 100px;

                    @media all and (max-width: 460px) {
                        border-radius: 0 50px;
                    }
                }

                &:after {
                    z-index: 3333;
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 0 100px;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(164deg, rgba(129, 164, 246, 0.5) 0%, rgba(30, 102, 254, 0.5) 50%, rgba(149, 100, 247, 0.5) 100%);
                    opacity: .7;

                    @media all and (max-width: 460px) {
                        border-radius: 0 50px;
                    }
                }

                &:before {
                    content: "";
                    border-radius: 0 100px;
                    width: 350px;
                    height: 350px;
                    display: block;
                    border: 2px dashed #0057EF;
                    margin: -30px 30px;
                    position: absolute;
                    z-index: -1;

                    @media all and (max-width: 460px) {
                        content: none;
                    }
                }
            }
        }

        .features-item img {
            .features-item {
                order: 1;
            }
        }
    }

    .feature-trial {
        position: relative;
        display: flex;
        height: 200px;
        margin: 0 20px 50px;
        padding: 10px;
        border-radius: 50px 0;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

        background-image: url('../../../../static/img/parallax.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &:after {
            z-index: 2;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50px 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(164deg, rgba(129, 164, 246, 0.5) 0%, rgba(30, 102, 254, 0.5) 50%, rgba(149, 100, 247, 0.5) 100%);
            opacity: 1;
        }

        h1 {
            color: white;
            text-shadow: 1px 1px 1px #000000;
        }

        div {
            z-index: 3;
        }
    }
}