/**
 * ---------------------------------------------------------------------------------------------------- #
 *
 * Basic Formattings
 *
 */

html {
    box-sizing: border-box;
    font-size: $base-fontsize;
}

// fix IE root font size calculation
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    html {
        font-size: $base-fontsize;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box
}

[hidden] {
    display: none !important; // stylelint-disable-line declaration-no-important
}


/**
 * Body
 */

body {
    overflow-y: scroll;
    margin: 0;
    font-family: $base-font;
    font-size: $base-fontsize;
    font-weight: 400;
    line-height: $base-lineheight;
    text-align: left;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.no-scrollable {
    overflow: hidden;
}


/**
 * Headlines
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headline-font;
    font-weight: 500;
    color: #1e2c4f;
}

h1 {
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    line-height: initial;
}

h2 {
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    line-height: initial;
}

h3 {
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: initial;
}

h4 {
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    line-height: initial;
}

h5 {
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    line-height: initial;
}

h6 {
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    line-height: initial;
}

/**
 * General Text Formattings
 */

b,
strong {
    font-weight: 700;
}

i,
em,
dfn {
    font-style: italic;
}

address {
    font-style: normal;
}

abbr {
    font-variant: small-caps;
    letter-spacing: 1px;
    cursor: help;
}

sub,
sup {
    position: relative;
    font-size: 10px;
    line-height: 10px;
}

sub {
    top: 4px;
}

sup {
    top: -6px;
}

q,
cite,
blockquote {
    font-family: $blockquote-font;
    font-style: italic;
}

hr {
    height: 1px;
    margin: 0;
    border: 0;
    padding: 0;
}

p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    line-height: 2em;
}

.title {
    margin-top: 50px;
    text-align: center;
}

/**
 * Images
 */

img {
    display: block;
    max-width: 100%;
}


/**
 * Buttons
 */

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button {
    overflow: visible;
    appearance: none;
    margin: 0;
    border: 0;
    border-radius: 0;
    padding: 0;
    text-transform: none;
    background-color: transparent;
}


.btn-main {
    padding: 9px 25px;
    display: block;
    height: 40px;
    width: max-content;
    border-radius: 25px;
    color: white;
    background: $base-color;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 14px;

    &:hover {
        box-shadow: inset 0px 0px 8px -4px rgba(0, 0, 0, 0.75)
    }
}

.btn-main-white {
    padding: 9px 25px;
    display: block;
    height: 40px;
    width: max-content;
    border-radius: 25px;
    color: #05f;
    background: #fff;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 14px;
}