@font-face {
  font-family: 'Montserrat-Black';
  src: local('Montserrat-Black'), url('../static/fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-BlackItalic';
  src: local('Montserrat-BlackItalic'), url('../static/fonts/Montserrat/Montserrat-BlackItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: local('Montserrat-Bold'), url('../static/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-BoldItalic';
  src: local('Montserrat-BoldItalic'), url('../static/fonts/Montserrat/Montserrat-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: local('Montserrat-ExtraLight'), url('../static/fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-ExtraLightItalic';
  src: local('Montserrat-ExtraLightItalic'), url('../static/fonts/Montserrat/Montserrat-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: local('Montserrat-ExtraLight'), url('../static/fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-ExtraLightItalic';
  src: local('Montserrat-ExtraLightItalic'), url('../static/fonts/Montserrat/Montserrat-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Italic';
  src: local('Montserrat-Italic'), url('../static/fonts/Montserrat/Montserrat-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Italic';
  src: local('Montserrat-Italic'), url('../static/fonts/Montserrat/Montserrat-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Light';
  src: local('Montserrat-Light'), url('../static/fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-LightItalic';
  src: local('Montserrat-LightItalic'), url('../static/fonts/Montserrat/Montserrat-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: local('Montserrat-Medium'), url('../static/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-MediumItalic';
  src: local('Montserrat-MediumItalic'), url('../static/fonts/Montserrat/Montserrat-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: local('Montserrat-Regular'), url('../static/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: local('Montserrat-SemiBold'), url('../static/fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-SemiBoldItalic';
  src: local('Montserrat-SemiBoldItalic'), url('../static/fonts/Montserrat/Montserrat-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Thin';
  src: local('Montserrat-Thin'), url('../static/fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-ThinItalic';
  src: local('Montserrat-ThinItalic'), url('../static/fonts/Montserrat/Montserrat-ThinItalic.ttf') format('truetype');
}

