// Typography-Variables

$base-font: 'Montserrat-Regular';
$base-fontsize: 16px;
$base-lineheight: 22px;

$headline-font: 'Montserrat-Medium';
$blockquote-font: Georgia, "Times New Roman", Times, serif;
$monospaced-font: Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;
