.latestNews {
    margin-bottom: 50px;
    padding: 20px;

    &-title {
        text-align: center;
        text-transform: uppercase;
        color: #0055FF;
        font-size: 0.8em;
    }

    &-subTitle {
        font-size: 1.5em;
        text-align: center;
    }

    &-container {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        &-icon {
            margin-right: 10px;
        }

        &-item {
            width: 300px;
            height: 100%;
            margin-bottom: 50px;
            overflow: hidden;
            border-radius: 10px;
            box-shadow: 0 0 20px -12px rgba(0, 0, 0, 1);
        }

        &-image {
            height: 50%;
        }

        &-description {
            padding: 0 20px 20px;
        }
    }
}